.bestSales {
  margin: 40px 0 30px 0;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      align-self: flex-start;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    width: 100%;

    @include tablet() {
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      text-decoration: none;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      img {
        width: 100%;
      }

      figcaption {
        align-self: flex-start;
        margin-top: 3px;
        font-size: 0.875rem;
        color: black;
      }
    }
  }
}
