.section_6 {
  height: 600px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 50px;
  }

  > div {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    div {
      text-align: center;

      h3 {
        margin-bottom: 5px;
      }
      li {
        color: white;
        list-style-type: none;
        margin: 2px 0;
        p {
          font-size: 0.9375rem;
          font-weight: 300;
        }
      }
    }
  }
}
