.madeFor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;

  h2 {
    align-self: flex-start;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }
  a {
    width: 100%;
    grid-column: span 3;
    figure {
      text-align: center;
      position: relative;
      width: 100%;
      img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
      }

      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 0.875rem;
        font-weight: 500;
        transform: translate(-50%, -50%);
      }
    }
  }
}
