.section_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  > div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 90vw;
      }

      figcaption {
        width: 90%;
        margin-top: 17px;
        font-size: 1rem;
      }
    }

    div {
      margin-top: 30px;
      width: 90%;

      a {
        padding: 10px 20px;
        background-color: #1b1b1b;
        border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
      }
      a:first-child {
        margin-right: 5px;
      }
    }
  }
}
