.section_2 {
  margin: 40px 0 30px 0;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      align-self: flex-start;
      margin-left: 15px;
    }
  }
  .grille {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    a {
      text-decoration: none;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 170px;
      margin-bottom: 10px;

      img {
        width: 170px;
      }

      figcaption {
        align-self: flex-start;
        margin-top: 3px;
        font-size: 0.875rem;
        color: black;
      }
    }
  }
}
